@mixin defaultColor {
    color: #e6e6e6;
}

@mixin colorFooter {
    color: #373b52;
}

body {
    background-color: #1b1d29;
}

.header {
    background-color: rgb(34, 11, 56);
    background-image: url('../img/m-h-night.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0% 0% 50% 0%;
}

.landing-logo {
    @include defaultColor()
}

.header_heading {
    @include defaultColor()
}

.header_text {
    @include defaultColor()
}

.header_button {
    color: #ffffff;
    background-color: #f1be2f;
    border-radius: 10%;
    border-color: #f1be2f;
}

.login {
    color: #ffffff;
    font-size: large;
}

.section_text {
    color: #e7e7e7;
}

.section_card {
    background-color: #373b52;
    border-radius: 5px;
}

.section_card_heading {
    color: #ffffff;
}

.section_card_text {
    color: rgb(185, 189, 192);
}

.section_link {
    color: rgb(185, 189, 192);
}

.section_banner {
    background: linear-gradient(to right, #ffcc00 11%, #ff6699 97%);
}

.section_banner_heading {
    @include defaultColor()
}

.section_banner_button {
    color: #ffffff;
    background-color: #f1be2f;
    border-radius: 10%;
    border-color: #f1be2f;
}

.section_banner_text {
    color: #b6b3b3;
}

.footer {
    background-color: #373b52;
    @include defaultColor()
}

.footer_logo {
    @include defaultColor()
}